/* ----------------------------------
    NavBar
-----------------------------------*/
  .navbar {
    margin-bottom: 0;
  }



/* ----------------------------------
    Carousle
-----------------------------------*/
  #myCarousel .item { 
    height: 400px;  
  }

  #slide1 {
    background: url('../images/nyc_callout.jpg') top center no-repeat;
  }
  
  #slide2 {
    background: url('../images/chicago_callout.jpg') top center no-repeat;
  }
  
  #slide3 {
    background: url('../images/la_callout.jpg') top center no-repeat;
  }

  .carousel-button {
    position: absolute;
    right: 250px;
    top: 330px;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 0px;
    background-color:rgba(0,0,0,0.2);
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    
  }

  .callout {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 40px;

    text-align: center;
    padding-top: 25px
  }

/* ----------------------------------
    Result Panels
-----------------------------------*/

  .resultsImg {
    width: 155px;
  }