/* ----------------------------------
    NavBar
-----------------------------------*/
  .navbar {
    margin-bottom: 0;
  }



/* ----------------------------------
    Carousle
-----------------------------------*/
  #myCarousel .item { 
    height: 400px;  
  }

  #slide0 {
    background: url('../images/main_image.jpg') top center no-repeat;
  }

  #slide1 {
    background: url('../images/nyc_callout.jpg') top center no-repeat;
  }
  
  #slide2 {
    background: url('../images/chicago_callout.jpg') top center no-repeat;
  }
  
  #slide3 {
    background: url('../images/la_callout.jpg') top center no-repeat;
  }

  .carousel-button {
    position: absolute;
    right: 250px;
    top: 330px;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 0px;
    background-color:rgba(0,0,0,0.2);
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    
  }
    .city {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 40px;
    text-align: center;
    padding-top: 25px;

    }

  .callout {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 15px
  }

 hr {
    border: 0;
    height: 1px;
    width: 300px;
    background: #fff;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.76) 39%, rgba(255,255,255,1) 51%, rgba(255,255,255,0.74) 64%, rgba(255,255,255,0.01) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.76) 39%,rgba(255,255,255,1) 51%,rgba(255,255,255,0.74) 64%,rgba(255,255,255,0.01) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.76) 39%,rgba(255,255,255,1) 51%,rgba(255,255,255,0.74) 64%,rgba(255,255,255,0.01) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */    margin-top: 5px;
    margin-bottom: 0px;
}

/* ----------------------------------
    Result Panels
-----------------------------------*/

  .resultsImg {
    width: 155px;
  }